@import './base.css';

/* Global game-specific utilities */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth transitions */
button, a, [role='button'] {
  transition: all 0.18s ease;
}
